/* Background dan layout utama */
#my-table_filter {
    padding: 0.75rem 1rem; /* py-3 px-4 */
    border-radius: 0.375rem; /* rounded-md */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Label teks "Search" */
#my-table_filter label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgb(55 65 81); /* text-gray-700 */
    font-weight: 500;
    color: #4b5563; /* text-gray-600 */
}

/* Input pencarian */
#my-table_filter input {
    border: 1px solid rgb(209 213 219); /* border-gray-300 */
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    outline: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: all 0.2s;
}

#my-table_filter input:focus {
    border-color: rgb(168 85 247); /* border-purple-500 */
    box-shadow: 0 0 0 2px rgba(168, 85, 247, 0.3); /* focus:ring-purple-500 */
}

#my-table th.text-center {
    text-align: center !important;
}

.tbody-main {
    @apply bg-blue-300;
}

#my-table_info,
#my-table_length {
    color: #4b5563; /* text-gray-600 */
}

#my-table_paginate {
    color: #4b5563; /* text-gray-600 */
}

#my-table_paginate .paginate_button {
    @apply hover:bg-red-400 !important;
}
