/* Background dan layout utama */
#my-table_filter {
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#my-table_filter label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgb(55 65 81);
    font-weight: 500;
    color: #4b5563;
}

#my-table_filter input {
    border: 1px solid rgb(209 213 219);
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    outline: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: all 0.2s;
}

#my-table_filter input:focus {
    border-color: rgb(168 85 247);
    box-shadow: 0 0 0 2px rgba(168, 85, 247, 0.3);
}

#my-table th.text-center {
    text-align: center !important;
}

.tbody-main {
    @apply bg-blue-300;
}

#my-table_info,
#my-table_length {
    color: #4b5563;
}

#my-table_paginate {
    color: #4b5563;
}

#my-table_paginate .paginate_button {
    @apply hover:bg-red-400 !important;
}
